###
# ```{rubric} Default values for postgres deployment
# ```
# ---
# Default values for postgres. This is a YAML-formatted file.
# Declare variables to be passed into your templates.
#
# ```{code-block} yaml
# :caption: affinity example
# nodeAffinity:
# requiredDuringSchedulingIgnoredDuringExecution:
#   nodeSelectorTerms:
#   - matchExpressions:
#     - key: kubernetes.io/os
#       operator: In
#       values:
#       - linux
# ```
#
# ```{literalinclude} values.yaml
# :caption: values.yaml
# :language: yaml
# :start-at: "affinity:\n"
# :end-before: "###\n"
# ```
affinity: {}
# affinity:
#   nodeAffinity:
#   requiredDuringSchedulingIgnoredDuringExecution:
#     nodeSelectorTerms:
#       - matchExpressions:
#           - key: kubernetes.io/os
#             operator: In
#             values:
#               - linux
autoscaling:
  enabled: false
  maxReplicas: 3
  minReplicas: 1
  # targetMemoryUtilizationPercentage: 80
  targetCPUUtilizationPercentage: 80

###
# ```{rubric} Database Configuration
# ```
# ---
# Change the password, obviously.
#
# ```{literalinclude} values.yaml
# :caption: values.yaml
# :language: yaml
# :start-at: "database:\n"
# :end-before: "###\n"
# ```
database:
  config:
    enabled: false
    ssl:
      enabled: false
      key: ""
      cert: ""
  name: postgres
  host: postgres.breeze-blocks.net
fullnameOverride: "postgres"
image:
  pullPolicy: Always
  repository: ghcr.io/edwardtheharris/helm-postgresql/postgres
  # Overrides the image tag whose default is the chart appVersion.
  tag: "0.0.3-2"
  pullSecret: ghcr

###
# ```{rubric} Liveness Probe
# ```
# ---
# Check that the service is live.
#
# ```{literalinclude} /values.yaml
# :language: yaml
# :start-at: "ingress:\n"
# :end-before: "###\n"
# ```
#
# ```{code-block} yaml
# :caption: enable tls
# kubernetes.io/tls-acme: "true"
# tls:
#  - secretName: chart-example-tls
#    hosts:
#      - chart-example.local
# ```
ingress:
  annotations:
    cert-manager.io/cluster-issuer: comms-svc-int
    cert-manager.io/common-name: postgres
    cert-manager.io/subject-organizationalunits: engineering
    cert-manager.io/subject-countries: US
    cert-manager.io/email-sans: postgres@breeze-blocks.net
    cert-manager.io/subject-provinces: CA
    cert-manager.io/subject-localities: Los Angeles
  ingressClassName: nginx
  enabled: false
  hosts:
    - host: postgres.breeze-blocks.net
      paths:
        - path: /
          pathType: Prefix
          name: postgres
          port: 5432
  tls:
    - secretName: postgres-tls
      hosts:
        - postgres.breeze-blocks.net

###
# ```{rubric} Liveness Probe
# ```
# ---
# Check that the service is live.
#
# ```{literalinclude} /values.yaml
# :language: yaml
# :start-at: "livenessProbe:\n"
# :end-before: "###\n"
# ```
livenessProbe:
  exec:
    command:
      - pg_isready
      - -U
      - postgres
  # When to give up and restart the container
  failureThreshold: 3
  # Delay before the first probe is initiated
  initialDelaySeconds: 30
  # How often to perform the probe
  periodSeconds: 10
  # Minimum consecutive successes for the probe to be considered successful
  # after having failed.
  successThreshold: 1
  # When the probe times out
  timeoutSeconds: 5

###
# ```{rubric} Name Override
# ```
# ---
# Name and node selector config.
#
# ```{literalinclude} /values.yaml
# :language: yaml
# :start-at: "nameOverride: postgres\n"
# :end-before: "###\n"
# ```
nameOverride: postgres
nodeSelector:
  kubernetes.io/os: linux

###
# ```{rubric} Persistence
# ```
# ---
# Persistence and other pod configuration.
#
# ```{literalinclude} /values.yaml
# :start-at: "persistence:\n"
# :end-before: "###\n"
# :language: yaml
# ```
#
# ```code-block yaml
# :caption: examples
#
# # EBS storage
# persistence:
#   storageClass: ebs.csi.aws.com
#
# # LVM storage
# persistence:
#   storageClass: csi-lvm-linear
# ```
#
# ```{code-block} yaml
# :caption: PSP examples
#
# fsGroup: 2000
# ```
persistence:
  name: postgres
  claim:
    enabled: true
  storageClass: csi-lvm-linear
  accessModes:
    - ReadWriteOnce
podAnnotations: {}
podLabels:
  app.kubernetes.io/name: postgres
podSecurityContext: {}

###
# ```{rubric} Readiness Probe
# ```
# ---
# Verify the service is ready for requests.
#
# ```{literalinclude} /values.yaml
# :start-at: "readinessProbe:\n"
# :end-before: "###\n"
# :language: yaml
# ```
#
# ```{code-block} yaml
# fsGroup: 2000
# ```
readinessProbe:
  exec:
    command:
      - pg_isready
      - -U
      - postgres
  # When to give up, marking the Pod as Unready
  failureThreshold: 3
  # Delay before the first probe is initiated, can be shorter than
  # liveness probe
  initialDelaySeconds: 5
  # How often to perform the probe
  periodSeconds: 5
  # Minimum consecutive successes for the probe to be considered successful
  successThreshold: 1
  # When the probe times out
  timeoutSeconds: 1
replicaCount: 1

###
# ```{rubric} Resources
# ```
# ---
# Set request and limit for resources.
#
# ```{literalinclude} /values.yaml
# :start-at: "resources:\n"
# :end-before: "###\n"
# :language: yaml
# ```
#
# We usually recommend not to specify default resources and to leave this as
# a conscious choice for the user. This also increases chances charts run
# on environments with little resources, such as Minikube. If you do want to
# specify resources, uncomment the following lines, adjust them as necessary,
# and remove the curly braces after `resources:`{l=yaml}.
#
# ```{code-block} yaml
# limits:
#   cpu: 100m
#   memory: 128Mi
# requests:
#   cpu: 100m
#   memory: 128M
# ```
resources:
  limits:
    cpu: 1
    memory: 2048Mi
  requests:
    cpu: 500m
    memory: 256Mi
    storage: 100Gi

###
# ```{rubric} Security and Service
# ```
# ---
# Define service and security context.
#
# ```{literalinclude} /values.yaml
# :start-at: "securityContext:\n"
# :end-before: "###\n"
# :language: yaml
# ```
#
# ```{code-block} yaml
# capabilities:
#   drop:
#   - ALL
# readOnlyRootFilesystem: true
# runAsNonRoot: true
# runAsUser: 1000
# ```
securityContext: {}
service:
  enabled: true
  port: 5432
  type: LoadBalancer

###
# ```{rubric} Security and Service
# ```
# ---
# Define service and security context.
#
# ```{literalinclude} /values.yaml
# :start-at: "securityContext:\n"
# :end-before: "###\n"
# :language: yaml
# ```
serviceAccount:
  # Annotations to add to the service account
  annotations:
    app.kubernetes.io/name: postgres
  # Automatically mount a ServiceAccount's API credentials?
  automount: true
  # Specifies whether a service account should be created
  create: true
  # The name of the service account to use.
  # If not set and create is true, a name is generated using the
  # fullname template
  name: "postgres"
tolerations: []
type: StatefulSet

###
# ```{rubric} Volumes
# ```
# ---
# Define volumes and mounts.
#
# ```{literalinclude} /values.yaml
# :start-at: "volumeMounts: []\n"
# :language: yaml
# ```
#
# Additional volumeMounts on the output Deployment definition.
#
# ```{code-block} yaml
# - mountPath: "/mnt/local/psql"
#   name: data
#   readOnly: false
# - name: foo
#   mountPath: "/etc/foo"
#   readOnly: true
# ```
#
# Additional volumes on the output Deployment definition.
#
# ```{code-block} yaml
# - name: foo
#   secret:
#     secretName: mysecret
#     optional: false
# ```
volumeMounts: []
volumes: []
