[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
loguru = "*"
gitpython = "*"

[dev-packages]
sphinx = "*"
sphinx-autobuild = "*"
myst-parser = {extras = ["linkify"], version = "*"}

[requires]
python_version = "3.12"
